.img {
  background-image: url("../../../../assets/background/pexels-daniel-absi-952670.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.wasteDisposal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.highlightedCardToday {
  border: 10px solid rgb(33, 230, 33);
}
.normalCard {
  border: 10px solid rgb(125, 33, 230);
}
.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  min-width: 200px;
  max-width: 80%;
  height: auto;
}
.card {
  margin: 2;
  max-width: 200;
  border-radius: "16px";
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
