.img {
  background-image: url("../../../../assets/background/pexels-daniel-absi-952670.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.wasteDisposal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.highlightedCardToday {
  border: 10px solid rgb(33, 230, 33);
}
.normalCard {
  border: 10px solid rgb(125, 33, 230);
}
