.img {
  background-image: url("../../../../assets/background/paula-vermeulen-_f2m3mEkaaU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  filter: brightness(0.8);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: bottom;
  height: 100vh;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.highlightedCardToday {
  border: 10px solid rgb(33, 230, 33);
}

.normalCard {
  border: 10px solid rgb(33, 36, 230);
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(166, 190, 174, 0.3);
}

.modalContent {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  min-width: 200px;
  max-width: 80%;
  height: auto;
}
.card {
  margin: 2;
  max-width: 200;
  border-radius: "16px";
}
